# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objective:-**
- List of popular languages used in Data Science
- List of popular libraries used in Data Science
- List of Data Science Tools
- Conversion of minutes to hour

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. ggplot
4. Scipy

|Data Science Tools|  
| ------ |  
| Apache Spark | 
| TensorFlow | 
| IBM eXchange |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
minutes=200
hours = minutes/60
print(hours)

3.3333333333333335

## Author:
Name: Hisan Zehra Sunasara